body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #282828;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.vieweditdeleteMargin{
    margin-top: 90px;
}
.vieweditdeleteMargin40{
    margin-top: 40px;
}
.tablebutton .dropdown-toggle{
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.addbtn_blue{
    color: #282828;
}
.addbtn_blue:hover, .addbtn_blue:focus{
    background: #0C7698;
    border-color: #0C7698;
    color: #fff;
}

.date_box .input-group-text{
    position: relative;
}
.dateBtn {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    left: 0;
    top: -1px;
    padding: 0 !important;
    border: none;
}
::-webkit-inner-spin-button {
    opacity:1; 
    font-size:2rem;
    margin-top:0;
    -webkit-appearance: none;
}
::-webkit-calendar-picker-indicator {
    background: DarkSlateGray;
    color:Cornsilk;
    opacity:1;
    font-size:1.5rem;
    transition:all ease 400ms;
    transform:scale(2);
    margin-left:5px;
    cursor: pointer;
}
.date_box  .input-group-text{
    border-color: #e3e3e3;
}
.invalid-feedback{
    font-size: 12px;
    letter-spacing: 0.4px;
}
.hidebox {
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;
    top: 0;
    background: transparent;
    z-index: 7;
    left: 0;
}